#mode {
    text-align: right;
    border-radius: 10px 10px 10px 10px;
    padding: 10px;
    margin: 10px;
    text-transform: capitalize;
    border-style: dotted;
} 
 
.choose {
    background-color:blanchedalmond;
    
    
    margin: 50;
    padding: 50px;
    height: 100px;
    display:contents;
    align-items: center;
    justify-content: center;
    gap: 4em;
    width: 4cm;
    
    
}

 

.choose :hover {
    opacity: 70%;
    cursor:pointer;
    background-color:blanchedalmond;
    background-color: ;
    width: auto;
    object-fit:cover;
    border-radius: 20px;
    box-shadow:0px 10px 10px 10px black;
    border-style:double;
    gap:4em;
    

   
}


.score-board{
    display: flex;
    margin-left: 30px;
    gap: 4em;
     
    font-size: 2em;
}
.play{
    
     border: 0 0 10px 10px;
     background-color: rgb(83, 41, 41);
     font-size: 2em;
     color: white;
     text-align: center;
     height: auto;
     width: 8cm;
     border-radius: 20px;

     
    
}

#msgbox{
    border-radius: 20px;

}

.play :hover{
     cursor: pointer;
     opacity: 60%;
     
}

.fimg :hover{
    
    cursor:pointer;
    color: red;
    background-color: rgb(0, 255, 0);
    object-fit:cover;
     
    
}

#footimg{
    border-radius: 20px;
    width: 150px;
    border-style:ridge;

}
 
.text{

    background-image: url("Kiran_121.jpg");
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
}
